<%- model_class = Page -%>
<div class="page-header">
  <h1><%= @page.name if @page %></h1>
</div>

<%= simple_format @page.content if @page %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pages_path, :class => 'btn'  %>
</div>
