<%- model_class = Page -%>
<div class="page-header">
  <h1><%= @page.name %></h1>
</div>

<%= simple_format @page.content %>
<% if @page.widgets.present? %>
  <div class="row">
    <div class="span4">
      <%= render @widgets %>
    </div>  
  </div>  
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), pages_path, :class => 'btn'  %>
</div>
